.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.questionBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 20px;
}

.title {
  display: flex;
  width: 100%;
  margin-top: 30px;
  margin-left: 20px;
}

.time {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.timeTxt {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  margin-right: 15px;
}

.txt {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  flex-direction: row;
  flex-wrap: wrap;
}

.personTxt {
  display: flex;
  margin-top: 10px;
}
